---
---

// css for kreier.github.io/T110        #original with headline #147878

$header-bg-color: #CC2222;           // #159959 bottom right corner
$header-bg-color-secondary: #2222CC; // #155999 top left corner

$body-link-color: #0000CC;           // #7EA7D3
$blockquote-text-color: #819198;

$section-headings-color: #CC22CC;    // #159957

$code-text-color: #191A1A;           // #494D4E;

@import "{{ site.theme }}";
